@tailwind base;
@tailwind components;
@tailwind utilities;






/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}


  /* HTML: <div class="loader"></div> */
.loaderx {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid;
        border-color: #000 #0000;
        animation: l1 1s infinite;
      }
      @keyframes l1 {to{transform: rotate(.5turn)}}


      .home-header {
        background-image: url("./assets/images/xxd.jpg"); 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        height: 100vh; 
        width: 100%; 
      }
      .profile-Header {
        background-image: url("./assets/images/xxd.jpg"); 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        height: 100vh; 
        width: 100%; 
      }

      .Login-background{
        background-image: url("./assets/images/background.jpg"); 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        height: 100vh; 
        width: 100%; 
      }

      .signup-background{
        background-image: url("./assets/images/sinup.jpg"); 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        height: 100vh; 
        width: 100%; 
      }


      .dumble-animation {
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
    }

    .bolt-animation-dad {
      perspective: 1000px; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .bolt-animation {
      transform: rotateY(0deg);
      transition: transform 700ms ease-in-out; 
    }
    
    .bolt-3d {
      transform-style: preserve-3d; 
    }

    .bolt-animation:hover {
      transform: rotateY(360deg);
    }

    @layer utilities {
      @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-2px); }
        50% { transform: translateX(2px); }
        75% { transform: translateX(-2px); }
        100% { transform: translateX(0); }
      }
    
      .hover-shake:hover {
        animation: shake 0.3s ease-in-out;
      }
    }









.loadingHeart{

  width: 100px;
  aspect-ratio: 1;
  background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
           -webkit-mask: 
    radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
    linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
    linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;
          -webkit-mask-size: 50% 50%;
          -webkit-mask-repeat: no-repeat;
          animation: l19 2s infinite linear;
}
@keyframes l19 {
    90%,100% {background-size:100% 100%}
}



button:disabled:hover {
  cursor: not-allowed;
}